<% if(typeof code!='undefined') { %> 

    <% if(code == "200") {%> 
     
        <div class="container result-container">

          <div class="side-child">
            <div class="img-box">  
              <img src="<%= iconUrl %> " alt="">
            </div>
            <div class="currTime"><%= currTime %></div>
            <div class="currDate"><%= currDate %> </div>
          </div>
          
          <div class="city"><%= city %> </div>  
          <div class="temp"><%= temp %> &deg;C</div>
          <div class="main"><%= main %></div>
          <div class="min-max">
            <%= temp_min %>&deg; C&nbsp;/&nbsp;
            <%= temp_max %>&deg; C
          </div>
          <%# <div class="description">description expression here</div> %>

          <div class="wind">
            <img src="https://i.ibb.co/H4CV7gV/wind.png" alt="wind" border="0">
            <%= speed %> m/s
            &nbsp;
            <%= wind_dir %> 
          </div>
             
      </div>

  <% } %> 

<% } %> 