<% if(typeof weatherList!='undefined') { %> 

  

  <% weatherList.slice().reverse().forEach((item, index) => { %>

    <% if(code === "404" && index === 0) { %> 

      <a href="#previous" class="history-sec-link"><div id="previous" class="history-btn" style="margin-top: 420px;">History</div></a>
     

    <% } else if(code === "200" && index === 1) { %>

      <a href="#previous" class="history-sec-link"><div id="previous" class="history-btn">History</div></a>
      

    <% } %>

    <div class="container result-container" 
      <% if(typeof code!= 'undefined') { %>
        <% if(code=="200"){ %> 
          <% if(index==0) { %>
            style = "background-color:rgba(25, 40, 177);"
          <% } %>
        <% } %>
      <% } %>
    >

      <div class="side-child">
        <div class="img-box">  
          <img src="<%= item.iconUrl %> " alt="">
        </div>
        <div class="currTime"><%= item.currTime %></div>
        <div class="currDate"><%= item.currDate %> </div>
      </div>
      
      <div class="city"><%= item.city %>, <%= item.country %> </div>  
      <div class="temp"><%= item.temp %> &deg;C</div>
      <div class="main"><%= item.main %></div>
      <div class="min-max">
        <%= item.temp_min %>&deg; C&nbsp;/&nbsp;
        <%= item.temp_max %>&deg; C
      </div>
      <%# <div class="description">description expression here</div> %>

      <div class="wind">
        <img src="https://i.ibb.co/H4CV7gV/wind.png" alt="wind" border="0">
        <%= item.speed %> m/s
        &nbsp;
        <%= item.wind_dir %> 
      </div>
         
  </div>

    
  <% }); %> 

<% } %> 
