<% if(typeof weatherList!='undefined') { %> 

  <% weatherList.slice().reverse().forEach((item, index) => { %>

      <% if(typeof code!= 'undefined') { %>
        <% if(code=="200"){ %>
           
            <% if(index==0) { %>
              <div class="result-div-section">
                <div  
                style = "background-color:rgba(25, 40, 177);"
                class="container result-container"
                >
                
            <% } else { %>
              <div class="container result-container previous-container">
            <% } %>
            
        <% } else if(code == "404") { %>
          <% if( index == 0) { %>
            <div class="result-div-section">
            <a href="#previous" class="history-sec-link"><div id="previous" class="history-btn">History</div></a>
          </div>
          <% } %> 
              <div class="container result-container previous-container" >
        <% } %>
      
    
    
      <div class="side-child">
        <div class="img-section">  
          <div class="img-container">
            <i class="<%= item.iconClassName %>"></i>
          </div>
        </div>
        <div class="currTime"><%= item.currTime %></div>
        <div class="currDate"><%= item.currDate %> </div>
      </div>
      
      <div class="city"><%= item.city %>, <%= item.country %> </div>  
      <div class="temp"><%= item.temp %> &deg;C</div>
      <div class="main"><%= item.main %> : <span class="description"><%= item.description %></span></div>
      <div class="min-max">
        <%= item.temp_min %>&deg; C&nbsp;/&nbsp;
        <%= item.temp_max %>&deg; C
      </div>
        

      <div class="wind">
        💨&nbsp;
        <%= item.speed %> m/s
        &nbsp;
        <%= item.wind_dir %> 
      </div>
         
  </div>
 
  <% if( index == 0 && weatherList.length > 1 &&  code === "200") { %>
    <a href="#previous" class="history-sec-link"><div id="previous" class="history-btn">History</div></a>
  </div>
  <% } %> 

  <% } %>
    
  <% }); %> 

<% } %> 
