<%- include('./partials/header') %>
<%- include('./partials/alert') %> 



<div class="layer"></div>
<div id="wrapper">
    <div id="main">
        
        <div class="heading">Live Weather</div>
        <div class="container container-input">
            
            <form action="/" method="post">
            <div class="form-group row row-main">
                
                    <div class="col-sm-3 city-label-div">
                    <label for="city" class="col-form-label">Enter a city: </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="row row-inner">
                            <div class="col-sm-9">
                                <input type="text" name="city" id="city" class="form-control" value="<%= (typeof city != 'undefined') ? city: ''%> ">                
                            </div>
                            <div class="col-sm-3 submit-btn-div">
                                <button type="submit" class="btn btn-primary submit-btn">Search</button>
                            </div>
                        </div>
        
                    </div>    
                    
                    
            </div>
            </form>
        </div>     
    


<%- include('./partials/result') %>

<%- include('./partials/footer') %>